.nav {
  /* border: 3px solid #e6e6e6; */
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  float: left;

  aspect-ratio: 3/2;
  object-fit: fill;
  mix-blend-mode: hard-light;
}


/* img {
  border-radius: 30%;

} */

.text-xl {
  text-align: center;
}


.btn {
  background-color: #f7b738;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: whitesmoke;
  color: black;
  border: 3px solid #9c9281;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

}