.nav {
  /* border: 3px solid #e6e6e6; */
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  float: left;

  aspect-ratio: 3/2;
  object-fit: fill;
  mix-blend-mode: hard-light;
}


/* img {
  border-radius: 30%;

} */

.username {
  text-align: center;
  border: solid 3px #e6e6e6;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #ee7d27;
  color: white;

  box-shadow:  0 10px 10px rgba(215, 155, 155, 0.2);

}

.logout{
  text-align: center;
  background-color: #ee7d27;
  border: solid 3px #e6e6e6;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;

}

.logout:hover{
  background-color: #f7b738;
  color: black;
  border: 3px solid #9c9281;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

}
.btn {
  background-color: #f7b738;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: whitesmoke;
  color: black;
  border: 3px solid #9c9281;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

}